@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  font-family: 'Raleway', sans-serif; }

.header {
  width: 95%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin: 1% auto; }
  .header .top-menu-container {
    display: flex;
    margin: 3% 0;
    justify-content: space-between; }

.language-dropdown .current-lang {
  cursor: pointer;
  width: 50px;
  padding: 5px; }
  .language-dropdown .current-lang:hover {
    background-color: #e6f0ec; }

.language-dropdown .options-list {
  display: none;
  background-color: white;
  list-style: none;
  width: 100px;
  position: absolute;
  margin: 0;
  padding: 0;
  font-size: 0.8em; }
  .language-dropdown .options-list li {
    padding: 5px; }
    .language-dropdown .options-list li:hover {
      cursor: pointer;
      background-color: #e6f0ec; }

.language-dropdown a {
  text-decoration: none; }
