@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  font-family: 'Raleway', sans-serif; }

.header {
  width: 95%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin: 1% auto; }
