@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap");
html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  font-family: 'Raleway', sans-serif; }
