.etf-screener {
  margin: 0 auto;
  width: 90%;

  .results {
    display: flex;
    justify-content: flex-end;

    span:nth-child(2) {
      font-weight: bold;
    }
  }

  .results-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;

    .assets-filter {
      width: 20%;
      display: flex;
      flex-direction: column;

      span {
        border: 1px solid $dark-green;
        border-radius: 5px;
        margin-bottom: 10px;
        padding: 10px 0 10px 5px;
        cursor: pointer;
      }
    }

    .table-container {
      width: 70%;

      .buttons {
        display: flex;
        column-gap: 15px;
      }

      .table {
        border: 2px solid $light-green;
        margin: 20px 0;
        padding: 10px;
        border-radius: 5px;

        .row {
          display: flex;
          padding: 5px 0;

          .row-header {
            font-weight: bold;
            width: 30%;
          }

          .row-content {
            width: 30%;
            cursor: pointer;
          }
        }

        .row:not(:last-child) {
          border-bottom: 1px solid $light-green;
        }

        .row:not(:first-child) {
          cursor: pointer;

          &:hover {
            background-color: $light-green;
          }
        }
      }
    }
  }
}
