.btn-primary {
  color: white;
  background-color: $brand-color;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: $dark-green;
  }
}

.btn-secondary {
  border: 2px solid $brand-color;
  background-color: white;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: $light-green;
  }
}

.btn-chip {
  display: none;
  color: $brand-color;
  background-color: white;
  padding: 10px 15px;
  border: 1px solid $brand-color;
  border-radius: 20px;
  cursor: pointer;  
  
  &:hover {
    background-color: $light-green;
  }

  &:active,
  &:focus {
    outline: none;
  }
}

.link {
  color: $brand-color;

  &:visited {
    color: $brand-color;
  }
}
