.header {
  width: 95%;
  display: flex;
  flex-direction: column;
  margin: 1% auto;

  .top-menu-container {
    display: flex;
    margin-top: 1%;
    justify-content: space-between;
  }

  .logo {
    width: 100px;
    height: 100px;

    img {
      width: 100%;
    }
  }

  .top-menu {
    display: flex;
    column-gap: 15px;
    align-items: baseline;

    span {
      color: $brand-color;
      padding: 5px;
      cursor: pointer;

      &:hover {
        background-color: $light-green;
      }
    }
  }
}