// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Copy text color
$text-color: #082B20 !default;

/// Main brand color
$brand-color: #11986D !default;

/// dark green
$dark-green: #387562 !default;

/// salmon-red
$salmon-red: #DA3C02 !default;

/// salmon-pink
$salmon-pink: #ECA991 !default;

